Name - Maahi Sadrani
PRN - 25070123069

In [1]:
# Experiment No.8: Study of for loop in Python
# Q1).To print numbers 1 to 5 in sequence using for loop
for i in range(1,6):
  print(i)

1
2
3
4
5

In [2]:
# Q2). Print all the even nuumbers using for loops
for i in range(2,11,2):
 print(i)

2
4
6
8
10

In [7]:
# Q3).Write a python program to add first N numbers
n = int(input("Enter a number:"))
sum = 0
for i in range (1,n+1):
 sum += i
print("Sum =",sum)

Enter a number:5
Sum = 15

In [20]:
# Q4). To print a given matrix in python
A = [[1,2,3],[4,5,6],[7,8,9]]
for i in range(3):
   for j in range(3):
     print(A[i][j],end = " ")
   print()

1 2 3
4 5 6
7 8 9

In [21]:
# Another method to print a matrix
 A = [[1,2,3],[4,5,6],[7,8,9]]
 for row in A:
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [30]:
#Q5). Multiplication of two matrices
A = [[1,2,3],[4,5,6],[1,2,1]]
B = [[1,1,1],[6,5,4],[3,2,1]]

Result = [[0,0,0],[0,0,0],[0,0,0]]

for i in range(3):     # rows of A
  for j in range(3):   # columns of B
    for k in range(3):
      Result[i][j] += A[i][k] * B[k][j]

for row in Result:
    print(row)

[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [33]:
#Q6).To write a python program to accept print three digits and print all its
#  possible combinations

d1 =1
d2 =2
d3 =3
d =[d1,d2,d3]
#123 132 213 231 312 321
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(d[i]!=d[j] and d[j]!=d[k] and d[k]!=d[i]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [36]:
#Q7). Write a python program to make a right angled triangle
# Inverted
for i in range(5,0,-1):
  print("*"*i)

*****
****
***
**
*

In [37]:
# Non Inverted

for i in range(1,6):
  print("*"*i)

*
**
***
****
*****

In [38]:
#Q8).To prin a Pyramidal pattern
rows = 5
for i in range(1,rows + 1):
  print(" "*(rows - i)+"* "*i)

    *
   * *
  * * *
 * * * *
* * * * *